.chat-container {
    width: 40rem;
    height: 40rem;
    padding: 20px;
    border: solid 1px black;
    border-radius: 1%;
    right: 50;
}

.chat-id {
    text-align: center;
    padding: 20px;
}

.form-outline {
    border: solid 1px black;
}

.list-unstyled {
    padding: 20px;
}

.position-relative {
    display: flex;
    justify-content: center;
    align-tracks: space-between;
}

.messages {
    border: solid 1px black;
    padding: 20px;
    height: 475px;
}
