#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

html {
  height: 100%;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.logo {
  font-size: 30px;
}

#job-post-details {
  padding: 30px;
  display: flex;
  justify-content: center;
}

#job-post-details .card-body {
  padding: 0;
}

#job-post-details .message-box {
  padding: 30px;
  height: 48vh;
  display: flex;
  align-items: center;
}

.card {
  margin-bottom: 20px;
}
